.wrap {
  width: 100%;
  white-space: nowrap;
  --animation-speed: 40s;

  &.slow {
    --animation-speed: 80s;
  }

  &.unpadded {
    .marquee-style,
    .marquee-style-2 {
      padding-right: 0px !important;
    }
  }
}

.marquee-style {
  display: inline-block;
  /* Apply animation to this element */
  animation: scrolling-left1 var(--animation-speed) linear infinite;
  padding-right: 50px;
}

.marquee-style-2 {
  display: inline-block;
  /* Apply animation to this element */
  animation: scrolling-left2 var(--animation-speed) linear infinite;
  padding-right: 50px;
  animation-delay: calc(var(--animation-speed) / 2);
}

/* scrolling-left is continuous/repeatly text */
@keyframes scrolling-left1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrolling-left2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}
