@import './reset.scss';
@import './variables.scss';

html,
body,
#__next {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  color: $white;
  background-color: $black;
}

$content-width: 1680px;
$side-gap: 64px;
$max-content-width: $content-width + ($side-gap * 2);

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;

  > * {
    max-width: $max-content-width;
    width: 100%;
  }
}

.clear {
  padding: 0px 64px;

  @media (max-width: $screen-sm) {
    padding: 0px 16px;
  }

  &-vertical {
    padding: 32px 64px;

    @media (max-width: $screen-sm) {
      padding: 24px 16px;
    }
  }
}

// .section {
//   padding: 0px 64px;

//   @media (max-width: $screen-sm) {
//     padding: 0px 16px;
//   }

//   &-clear-vertical {
//     padding: 32px 64px;

//     @media (max-width: $screen-sm) {
//       padding: 24px 16px;
//     }
//   }
// }

.dark-grey {
  color: $color-dark-grey;

  * {
    fill: $color-dark-grey;
  }
}

.section-header {
  font-size: 36px;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 0.2px;
  font-weight: 700;
  text-transform: uppercase;

  &.as-text-body {
    text-transform: none;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;

    @media (max-width: $screen-sm) {
      font-size: 16px;
    }
  }

  @media (max-width: $screen-sm) {
    font-size: 20px;
  }

  &.grey {
    color: $color-grey;
  }
}

.massive-header {
  font-size: 218px;
  font-weight: 700;
  letter-spacing: 0.2px;
  opacity: 0.1;
  transform: translateX(-15px);
  text-transform: uppercase;
}

.subheader {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-family: 'Roboto Condensed', sans-serif;

  &.as-text-body {
    font-family: 'Roboto', sans-serif;
    text-transform: none;
  }

  @media (max-width: $screen-sm) {
    font-size: 14px;
  }
}

.tiny-text {
  font-size: 12px;

  @media (max-width: $screen-sm) {
    font-size: 10px;
  }
}

.small-text {
  font-size: 14px;

  @media (max-width: $screen-sm) {
    font-size: 12px;
  }
}

.medium-text {
  font-size: 16px;

  @media (max-width: $screen-sm) {
    font-size: 14px;
  }
}

.large-text {
  font-size: 24px;

  @media (max-width: $screen-sm) {
    font-size: 18px;
  }
}

.extra-large-text {
  font-size: 36px;

  @media (max-width: $screen-sm) {
    font-size: 24px;
  }

  &.title {
    letter-spacing: 0.05em;
  }
}

.bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 44px;
  background: #e8e8e8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.18);
  height: 64px;
  align-self: flex-start;
  font-family: inherit;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0px 70px;
  color: black;
  cursor: pointer;

  &:hover {
    background: rgb(0, 0, 0);
    color: rgb(209, 209, 209);
  }

  &.blue {
    color: $color-blue;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

.text-spacing {
  > * {
    margin-top: 28px;

    @media (max-width: $screen-lg) {
      margin-top: 16px;
    }
  }
}

.tag {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 50px;
  background: white;
  border: 1px solid black;
  margin-right: 8px;
  text-transform: uppercase;

  &.purple {
    background: #e7e3ff;
  }
}

.border {
  &-bottom {
    border-color: $monochrome-5;
    border-style: solid;
    border-bottom-width: 1px;
  }

  &-top {
    border-color: $monochrome-5;
    border-style: solid;
    border-top-width: 1px;
  }
}
