@import 'styles/variables.scss';

.cowork-hero {
  // background: linear-gradient(180deg, #fa4e4e 0%, #e5fd86 113.61%);

  // &:before {
  //   content: '';
  //   // z-index: -1;
  //   position: absolute;
  //   left: 0px;
  //   right: 0px;
  //   height: 100%;
  //   width: 100%;
  //   background-image: url('../assets/images/tile.png');
  //   background-color: linear-gradient(180deg, #fa4e4e 0%, #e5fd86 113.61%);
  //   background-repeat: repeat-x;
  //   mix-blend-mode: overlay;
  //   background-size: 150px;
  //   background-position: bottom;
  // }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .info {
      margin-top: 24px;
    }

    .call-to-action {
      display: flex;
      flex-direction: column;
      margin-top: 32px;

      @media (min-width: $screen-md) {
        flex-direction: row;
      }

      > a {
        display: flex;
        // width: 200px;
        justify-content: space-between;
        margin-top: 8px;

        &:first-child {
          margin-right: 16px;
        }

        > svg {
          margin-right: 16px;
        }
      }
    }
  }
}

.cowork {
  background: white;
  color: black;

  .ticketing-alert {
    padding-top: 16px;
    padding-bottom: 0px;
  }

  .body {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;

    @media (min-width: $screen-md) {
      flex-direction: row;
    }

    .left,
    .right {
      flex-basis: 50%;
      flex-shrink: 0;
    }

    .left {
      border-bottom: 1px solid $standard-border-color;
      padding-bottom: 1em;

      > * {
        &.title {
          margin-top: 0px;
        }
        margin-top: 1em;
      }

      @media (min-width: $screen-md) {
        padding-bottom: 0px;
        border-bottom: none;
        padding-right: 100px;
      }
    }

    .right {
      .what-to-expect {
        > * {
          @media (min-width: $screen-md) {
            &.title {
              margin-top: 0px;
            }
          }

          margin-top: 1em;
        }
      }

      .how-to-attend {
        .title {
          margin-bottom: 1em;
        }
        padding-top: 1em;
        margin-top: 1em;
      }
    }
  }

  .ticketing {
    // padding-top: 32px;

    a &:not(:global(.button)) {
      color: $color-link;
    }

    p {
      &:not(.title) {
        margin-top: 1em;
      }
    }
  }

  .gallery {
    padding-top: 0px;
    justify-content: center;
    width: 100%;
    position: relative;
    display: flex;
    grid-template-columns: repeat(130, 1fr);

    @media (min-width: $screen-md) {
      display: grid;
      border-top: 1px solid $standard-border-color;
      border-bottom: 1px solid $standard-border-color;
      padding: 32px 0px;
    }

    .grid-item {
      grid-row: 1;
      position: relative;
      display: flex;
      align-items: center;

      &:nth-child(1) {
        z-index: 1;
        grid-column: 1 / span 33;
      }

      &:nth-child(2) {
        grid-column: 23 / span 42;
      }

      &:nth-child(3) {
        z-index: 2;
        grid-column: 55 / span 30;
      }

      &:nth-child(4) {
        grid-column: 72 / span 32;
      }

      &:nth-child(5) {
        grid-column: 100 / span 40;
        z-index: 2;
      }

      @media (max-width: $screen-md) {
        &:nth-child(1) {
          display: none;
        }

        &:nth-child(2) {
          grid-column: 1 / 65;
        }

        &:nth-child(3) {
          display: none;
          z-index: 3;
          grid-column: 35 / 95;
        }

        &:nth-child(4) {
          display: none;
          z-index: 1;
          grid-column: 75 / 130;
        }

        &:nth-child(5) {
          display: none;
        }
      }
    }
  }
}

.map {
  height: min(80vh, 450px);

  .directions {
    color: black;
    position: absolute;
    z-index: 1;
    width: 100%;

    p {
      text-align: right;
    }
  }
}
