@import 'styles/variables.scss';

.cowork-hero {
  background: linear-gradient(180deg, #fa4e4e 0%, #e5fd86 113.61%);

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .info {
      margin-top: 24px;
    }

    .call-to-action {
      display: flex;
      flex-direction: column;
      margin-top: 32px;

      @media (min-width: $screen-md) {
        flex-direction: row;
      }

      > a {
        display: flex;
        width: 200px;
        justify-content: space-between;
        margin-top: 8px;

        &:first-child {
          margin-right: 16px;
        }

        > svg {
          margin-right: 16px;
        }
      }
    }
  }
}

.cowork {
  background: white;
  color: black;

  .body {
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-md) {
      flex-direction: row;
    }

    .left,
    .right {
      flex-basis: 50%;
      flex-shrink: 0;
    }

    .left {
      border-bottom: 1px solid $standard-border-color;
      padding-bottom: 16px;

      > * {
        margin-top: 16px;
      }
      // display: flex;
      // flex-direction: column;
      // justify-content: space-between;
      @media (min-width: $screen-md) {
        padding-bottom: 0px;
        border-bottom: none;
        padding-right: 36px;
      }
    }

    .right {
      .what-to-expect {
        > * {
          margin-top: 16px;
        }
      }

      .how-to-attend {
        .title {
          margin-bottom: 16px;
        }
        padding-top: 16px;
        margin-top: 16px;
      }
    }
  }

  .gallery {
    padding: 32px 0px;
    margin-top: 16px;
    justify-content: center;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    @media (min-width: $screen-md) {
      border-bottom: 1px solid $standard-border-color;
    }

    .grid-item {
      position: relative;
      display: flex;
      align-items: center;
      width: 150%;
      left: -25%;

      .image-wrapper {
        position: relative;
        width: 100%;
      }

      &:nth-child(odd) {
        .image-wrapper {
          z-index: 1;
          width: 120%;
          // height: 200px;
        }
      }
    }
  }
}

.map {
  height: min(80vh, 450px);

  .directions {
    color: black;
    position: absolute;
    z-index: 1;
    width: 100%;

    p {
      text-align: right;
    }
  }
}
