@import 'styles/variables.scss';

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .background {
    z-index: -2;
    position: absolute;
    object-fit: cover;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    background: linear-gradient(120deg, hsla(43, 88%, 52%, 1) 0%, hsla(43, 80%, 52%, 0) 70%),
      linear-gradient(555deg, hsla(297, 83%, 60%, 1) 10%, hsla(297, 83%, 60%, 0) 80%),
      linear-gradient(25deg, hsla(171, 100%, 52%, 1) 10%, hsla(171, 100%, 52%, 0) 80%),
      linear-gradient(335deg, hsla(240, 86%, 47%, 1) 100%, hsla(240, 86%, 47%, 0) 70%);
  }

  &:after {
    content: '';
    z-index: -1;
    position: absolute;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    background-image: url('../../../assets/images/tile.png');
    background-repeat: repeat-x;
    mix-blend-mode: overlay;
    background-size: var(--tile-size, 60px);
    background-position: bottom;

    @media (min-width: $screen-lg) {
      background-size: var(--tile-size, 100px);
    }
  }

  .content {
    position: relative;
    flex-grow: 1;
    display: flex;

    .children {
      flex-grow: 1;
      display: flex;
      height: 500px;
      justify-content: space-between;

      &.auto-height {
        height: auto;
      }

      > * {
        z-index: 1;
      }

      @media (max-width: $screen-md) {
        height: auto;
      }
    }

    .image {
      position: absolute;
      right: 0px;
      bottom: 32px;
      width: 50%;
      height: 100%;

      @media (max-width: $screen-md) {
        bottom: 0px;
      }

      .image-inner {
        position: relative;
        height: 100%;
        width: 100%;
      }
    }
  }
}
